<div class="btn-reihe" data-reveal style="--d:300ms">
  <a class="btn btn--notruf" href="{{TEL1_HREF}}" data-zaehlen="anruf">{{icon:telefon}}Anrufen <span class="nr">{{TEL1}}</span></a>
  <a class="btn btn--rand" href="{{WA_HREF}}" data-standort data-zaehlen="whatsapp">{{icon:standort}}Standort per WhatsApp</a>
</div>
<p class="ausweich" data-reveal style="--d:400ms">Besetzt oder nicht erreicht? <a href="{{TEL2_HREF}}" data-zaehlen="anruf">{{TEL2}}</a> <button type="button" class="kopieren" data-kopieren="{{TEL1}}" hidden>Nummer kopieren</button></p>
